.price{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 540px;
    height: 60px;
    background-color: #5E54A4;
    border-radius: 14px;
    color: white;
    margin-bottom: 25px;
}

.price span{
    font-weight: 700;
    
}